.sReception {
background: url(./img/massage.png) no-repeat center 90px;
background-size: 90%;
}
/*
.sReception .button {
margin-top: 220px;
}
*/

.face {
background: url(./img/face.jpg) no-repeat center center;
display: inline-block;
text-align: center;
background-size: contain;
width: 100px;
height: 100px;
border-radius: 150px;
border: 2px solid #ccc;
margin-bottom: 20px;
}